.input_elem {
  border: 1px var(--input-border-color) solid;
  border-radius: 6px;
  padding: 0 5px;
  width: 100%;
}

.input_primary {
  min-height: 50px;
  border: none;
  border-bottom: 1px var(--gray-dark) solid;
}

.input_primary {
  outline: none;
}

.borderless {
  border: none;
}

.borderless:focus {
  outline: none;
}

.xxl {
  font-size: 50px;
}

.xl {
  font-size: 40px;
}

.large {
  font-size: 22px;
}

.medium {
  font-size: 16px;
}

.small {
  font-size: 12px;
}

.date_cont {
  width: 200px;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.date_cont > span {
  color: var(--primary-gray);
}

.check_box {
  width: auto;
  cursor: pointer;
}
