body {
  margin: 0;
}

button {
  cursor: pointer;
}

.mobile_container {
  height: 100vh;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
  transform: translate(100%);
  color: red;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  --gray-dark: #ebebeb;
  --gray-light: #f6f6f6;

  --shadow-medium: 0 0.5rem 1rem rgba(33, 37, 41, 0.15);

  --input-border-color: #f6f6f6;

  --btn-primary-color: var(--gray-dark);
  --btn-secondary-color: var(--gray-light);
}

.mobile_container > * {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.animate_in {
  animation: slideIn 0.3s ease-in forwards;
}

.animate_out {
  animation: slideOut 0.3s ease-in forwards;
}

.app {
  position: fixed;
  top: 0;
  right: 0;
  width: 460px;
  height: 100vh;
  z-index: 1000000;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
