.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
}

.heading_area {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.child {
  padding-left: 60px;
}

.item_cont {
  padding: 20px 10px;
  border-bottom: 1px var(--gray-light) solid;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.date {
  margin-left: auto;
}
